<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/public/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/css/forrm.css")
        title Envianos un mensaje
    body
        .container-fluid
            h1(align='center') Envianos un Mensaje
            .js-message.alert( role="alert" )
            .card
                form.formSubmit
                    .row
                        .col
                            .form-group
                                label( for='nombre') Nombre
                                input.form-control(type="text", name="nombre" id='nombre', required)
                        .col
                            .form-group
                                label( for='apellido') Apellido
                                input.form-control(type="text", name="apellido" id='apellido', required)
                    .row
                        .col
                            .form-group
                                label( for='email') Email
                                input.form-control(type="email", name="email" id='email', required)
                        .col
                            .form-group
                                label( for='telefono') Telefono
                                input.form-control(type="text", name="telefono" id='telefono')
                    .row
                        .col    
                            .form-group
                                label(for='pais') Pais
                                input.form-control(type="text", name="pais" id='pais')
                    .row
                        .col    
                            .form-group
                                label(for='mensaje') Mensaje
                                textarea.form-control( cols="30", rows="5" require name="mensaje" id='mensaje')
                                
                    .row
                        .col
                            button.btn.btn-block.btn-primary(type="submit") Enviar

        include footer.pug
